.recipe {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .recipe h1 {
    color: red;
    font-size: 35px;
  }
  
  
  .recipe p {
    font-size: 25px;
    color: red;
  }
  
  .recipe svg {
    font-size: 60px;
    color: red;
  }